.productsmain .product-inner {
  /*width: 610px;*/
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.15);
  transition: all .1s ease-in-out;
}
.productsmain .product-inner.list {
  max-height: 240px;
}
.productsmain .product-inner.grid {
  max-height: auto;
}

.productsmain .product-inner:hover {
  box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.11);
}

.visible{
    display:block;
}
.hidden{
    display: none;
}
.product-type{
  margin-bottom: 15px;
      margin: 0px 15px 15px 0;
}
.list .product-info{
  height: 240px;
}
.sorting a{
  cursor: pointer;
}
.productsmain .product-inner .product-info {
  background: #fff;
  max-height: 280px;

}
.productsmain .product-inner .product-info .product-content {
  padding: .2em 0 .2em 1em;
}
.productsmain .product-inner .product-info .product-content h1 {
  font-size: 1.5em;
}
.productsmain .product-inner .product-info .product-content p {
  color: #636363;
  font-size: .9em;
  font-weight: bold;
  width: 90%;
}
.productsmain .product-inner .product-info .product-content ul li {
  color: #636363;
  font-size: .9em;
  margin-left: 0;
}
.productsmain .product-inner .product-info .product-content .buttons {
  margin-bottom: 5px;
  padding-top: .4em;
}
.productsmain .product-inner .product-info .product-content .buttons .button {
  text-decoration: none;
  color: #5e5e5e;
  font-weight: bold;
  padding: .3em .65em;
  border-radius: 2.3px;
  transition: all .1s ease-in-out;
}
.productsmain .product-inner .product-info .product-content .buttons .add {
  border: 1px #5e5e5e solid;
}
.productsmain .product-inner .product-info .product-content .buttons .add:hover {
  border-color: #6997b6;
  color: #6997b6;
}
.productsmain .product-inner .product-info .product-content .buttons .buy {
  border: 1px #5e5e5e solid;
}
.productsmain .product-inner .product-info .product-content .buttons .buy:hover {
  border-color: #6997b6;
  color: #6997b6;
}
.productsmain .product-inner .product-info .product-content  #price {

  color: #5e5e5e;
  font-weight: bold;
  border: 1px solid rgba(137, 137, 137, 0.2);
  background: rgba(137, 137, 137, 0.04);
  padding: 5px;
}
.listacategorias a, .sorting a{
      color: #666;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}
.titleshop{
      font-weight: 800;
      margin: 5px 0;

}


.btn-breadcrumb .btn{
  text-transform: none;
  color: #fff;
}

.product-inner .img-container{
      width: 240px;
    height: 240px;
    margin: 0 auto;
}